@import url('reset.css');

html {
  font-size: 10px;
}

body {
  background: #f9f9f9;
  color: #000;
  font-size: 1.4rem;
}

header {
  background: #fff;

  height: 56px;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0px;
}
header button {
  background: transparent;

  display: flex;

  border: none;
}

header .left-icons {
  margin: 0 24px;

  display: flex;
  align-items: center;

  gap: 32px;
}
header .left-icons a,
header .left-icons .logo {
  height: 20px;
}

header #search-container {
  width: 404px;
  height: 40px;
  box-sizing: border-box;

  display: flex;
  align-items: stretch;
}

header #search-container button,
header #search-container input {
  padding: 5px;

  border: 1px solid #ccc;

  outline: none;
}

header #search-container button {
  background-color: #f8f8f8;

  width: 57px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

header #search-container button:hover {
  background-color: #f0f0f0;
}

header #search-container button img {
  width: 24px;
  height: 24px;
}

header #search-container input {
  border-right: 0px;
  flex: 1;
}

header .right-icons {
  margin: 0 24px;

  display: flex;
  align-items: center;

  gap: 24px;
}

main {
  display: grid;
  grid-template-columns: 218px 1fr;
}

main aside#menu {
  background: #fff;

  width: 100%;
  box-sizing: border-box;

  padding: 24px 24px;
}

main aside#menu a {
  text-decoration: none;
}

main aside#menu ul {
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;

  list-style: none;
}

main aside#menu li {
  color: #000;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 16px;
}

main section#feed {
  padding: 24px 28px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 14px;
  overflow: auto;
}

main section#feed a.video-container {
  margin: 16px;
  text-decoration: none;
}

main section#feed .home-video-card {
  color: #000;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: row;
  gap: 16px 10px;
}

main section#feed .home-video-card .thumbnail {
  width: 100%;
  min-width: 160px;

  grid-column: 1 / span 2;
}

main section#feed .home-video-card .info {
  color: #515151;
  min-width: 120px;
  font-size: 1.2rem;

  display: block;
}

main section#feed .home-video-card .info h3 {
  color: #000;
  font-size: 1.4rem;
}
